:root {
  width: 100%;
  height: 100%;
  font-family: Inter, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

/* Sparkles */
#tsparticles {
  width: 100%;
  height: 100%;
}

/* Custom Scrollbar */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #2e3b5d #14213d;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #14213d;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e3b5d;
  border: 3px solid #2e3b5d;
}